.about-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  text-align: center;
  padding: 20px 20px;
  margin: 20px 10px;
}
.about-main img {
  height: 500px;
  width: 300px;

  border: 2px solid white;
}
.details {
  padding: 20px;
}
